*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
body{ 
    background-color: #f1f3f6;
}
header{
    height:10vh;
    background-color: #2874f0;
    width:100vw;
    font-family: 'Roboto', sans-serif;
}


nav{
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo-img{
    width:5vw;
    padding:0px 20px;
    
}
.logo p:hover{
    text-decoration:underline;
}
.logo p{
    font-family: 'Roboto', sans-serif;
    color:white;
    padding:0 20px;
    font-weight: 500;
    font-size:12px;
}
.plus{
    color:#ffe500;
    font-weight: 500;
}
.plus-img{
    width:13px;
    height:10px;
}
.input{
    padding-right:40px;
    border:none;
}
.input-icons i{
    position:absolute;
    color:#2874f0;
    padding:10px;
}
.input-icons input{
    padding:2px 40px;
    border-radius: 3px;
    border-style: none;
    width:608px;
    height:36px;
}
nav ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
nav ul li {
    padding:20px;
    list-style-type: none;
    /* margin-top: 5px; */
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.fa {
    padding:0 5px;
    font-size: 48px;
    color:white;

}
.input i{
    cursor:pointer;
}

footer{
    width:100vw;
    height: 50vh;
    background: #172331;

}
