.login{
    background-color: white;
    color: #2874f0;
    padding:5px 25px;
    border-radius: 2px;
}
.container1{
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width:50vw;
}
.card{
    margin:0 20px;
    height:10vh;
    padding-top:40px;
}

.card li{
    color:white;
    text-decoration: none;
    list-style: none;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
h4{
    color:#878787;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    font-size:12px;
    
}

.container2{
    display:inline-flex;
    justify-content: flex-end;
    height:20vh;
    width:49vh;
    flex-wrap: wrap;
}
.cards2{
    padding:0 40px;
    border-left:1px solid #878787;
}
.heading{
    color:#878787;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    font-size:12px;
}
.para{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 2;
}

.below_container{
    position:relative;
    top:35%;
    left:3%;
    display: flex;
    /* flex-direction: row; */
}
.text_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_1 img{
    width:15px;
    /* display: inline; */
}

.footer_1 span{
    /* display: inline; */
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 2;
    padding:0 80px 20px 0;
}
.footer_1 .new{
    width: 400px;
}